<h2 type="info">Visualize.js Demo using Angular2</h2>
<section>A simple demonstration that draws a JRS report/dashboard resource with <a href="http://community.jaspersoft.com/project/visualizejs">Visualize.js</a> using the <a href="https://angular.io/">Angular Framework</a> (Angular 2.0.0-beta.17).</section>
<br>
<h3>Here's the first dashboard:</h3>
<br>
<vjs-component id="dashboard_one"></vjs-component>
<br>
<h3>Here's the second dashboard:</h3>
<br>
<vjs-component id="dashboard_two"></vjs-component>
